.container {
  width: min(100% - 32px, 1024px);
  margin-inline: auto;
}
.text-center {
  text-align: center;
}
.p-block-6 {
  padding-block: 6rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.delay-1 {
  animation-delay: 0.1s;
}
.delay-2 {
  animation-delay: 0.4s;
}
.delay-3 {
  animation-delay: 0.8s;
}
.delay-4 {
  animation-delay: 1s;
}
/* intersection observer */

/* from bottom opacity stagger */
.hidden-bottom {
  transform: translateY(50%);
  opacity: 0;
}
.hidden-bottom.active {
  animation: hidden-bottom 1.5s forwards;
}
@keyframes hidden-bottom {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@media (min-width: 1024px) {
  .process-web__article:nth-child(1).active {
    animation-delay: 0.3s;
  }
  .process-web__article:nth-child(2).active {
    animation-delay: 0.6s;
  }
  .process-web__article:nth-child(3).active {
    animation-delay: 0.9s;
  }
}

/* from right opacity */
.opacity {
  transform: translateX(50%);
  opacity: 0;
}
.opacity.opacity-full {
  animation: opacity-full 1.5s forwards;
}
@keyframes opacity-full {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
/* from left opacity stagger */
.hidden-left-stagger {
  opacity: 0;
  transform: translateX(-50%);
}
.hidden-left-stagger.active {
  animation: active forwards 0.8s;
}
@keyframes active {
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@media (min-width: 1024px) {
  .offer-card:nth-child(1).active {
    animation-delay: 0.3s;
  }
  .offer-card:nth-child(2).active {
    animation-delay: 0.6s;
  }
  .offer-card:nth-child(3).active {
    animation-delay: 0.9s;
  }
}

/* overlay */

.overlay {
  position: fixed;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.471);
  z-index: 4;
  cursor: pointer;
  display: grid;
  place-items: center;
}
.overlay[data-visible="false"] {
  animation: close-overlay 0.4s forwards;
}
@keyframes close-overlay {
  from {
    opacity: 1;
    pointer-events: visible;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}
.overlay[data-visible="true"] {
  animation: open-overlay 0.4s forwards;
}
@keyframes open-overlay {
  from {
    opacity: 0;
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: visible;
  }
}
.overlay--darker {
  background-color: hsla(0, 0%, 0%, 0.8);
}
.web-modal {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  background-color: hsla(0, 0%, 0%, 0.792);
  padding: 2rem;
  width: min(90vw, 30rem);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 5px hsl(205, 100%, 60%);
  outline: 2px solid hsl(240, 93%, 52%);
  transition: 0.3s;
}
.web-modal:hover {
  box-shadow: 0 0 1.5rem 5px hsl(205, 100%, 60%);
  outline: 5px solid hsl(234, 100%, 54%);
}

.web-modal img {
  order: 2;
  background: #ffffff;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
}
