.portfolio {
  position: relative;
  background: url("/assets/images/portfolio-overlay-bg.jpg") no-repeat center
    center/cover;
  padding-inline: 1rem;
  padding-block: 6rem;
  isolation: isolate;
  background-attachment: fixed;
}
.portfolio::before {
  content: "";
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(10px);
  left: 0;
  right: 0;
  top: 55%;
  bottom: 0;
}
.portfolio::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(46, 58, 101, 0.7);
  z-index: -2;
}
.portfolio__wrapper {
  display: grid;
  gap: 4rem;
}
.portfolio__inner-wrapper {
  display: flex;
  position: relative;
  height: 110vh;
}
.project-wrapper {
  position: absolute;
  transition: all 0.4s ease-in-out;
  display: none;
  transform: translateX(10rem);
}
.project-wrapper.current {
  display: block;
  z-index: 2;
  margin-inline: auto;
  transform: translateX(-50%);
  left: 50%;
  top: 10%;
  animation: current 2s forwards;
}
@keyframes current {
  from {
    display: none;
    opacity: 0;
  }
  to {
    opacity: 1;
    display: block;
  }
}

.portfolio__description-project {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 7rem;
  min-width: 330px;
}
.project-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.portfolio__btns {
  position: absolute;
  width: min(91%, 70rem);
  display: flex;
  justify-content: space-between;
  transform: translate(-50%, -50%);
  top: 33%;
  left: 50%;
  z-index: 150;
}

/* web card */
.web-card {
  position: relative;
  margin-inline: auto;
  width: 15rem;
  height: 25rem;
  border: 3px solid rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 5px;
  transition: all 0.7s ease-in-out;
  box-shadow: 0 15px 30px hsla(0, 0%, 0%, 0.3);
}
.web-card__see-more {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  inset: auto 0;
  gap: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  z-index: 2;
  background-color: hsla(205, 23%, 42%, 0.6);
  transition: 0.3s;
  display: none;
}
.web-card:hover {
  transform: perspective(800px) rotateX(20deg) rotateY(5deg) rotateZ(10deg)
    skewX(-3deg) skewX(-3deg) scale(1.3);
  box-shadow: 0 10px 30px hsl(20, 6%, 39%);
}
.web-card:hover .web-card__see-more {
  display: flex;
}
.web-card:hover .web-card__img {
  position: fixed;
  animation: scroll 2s alternate infinite linear;
}
.web-card:hover::after {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.437);
  color: white;
  border-radius: 0 0 10px 10px;
  animation: description 3s forwards ease-in-out;
}
@keyframes description {
  0% {
    opacity: 0;
  }
  15%,
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-45%);
  }
}
@media (max-width: 400px) {
  .web-card {
    width: 12rem;
    height: 20rem;
  }
}
@media (min-width: 1024px) {
  .portfolio__inner-wrapper {
    height: 100vh;
  }
}
