.solutions__btns-wrapper {
  outline: 2px solid rgb(143, 143, 143);
  border-radius: 100vmax;
  display: flex;
  margin-inline: auto;
}
.solutions__inner-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.solutions__webdesign-img-wrapper {
  overflow: hidden;
  height: 409px;
}
.graphic-des-icon {
  width: 48px;
}
.solutions__webdesign-img--height-second-row {
  /* height: 310px; */
  height: 200px;
}
.solutions__webdesign-img--height-first-row {
  height: 300px;
}
.solutions__article-wrapper {
  flex: 1;
  display: grid;
  gap: 2rem;
}
.process-web {
  padding-block: 2rem;
}
.process-web__wrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.process-web__article {
  flex: 280px;
}
.process-web__article-img {
  width: 50%;
  margin: auto;
}
.ornament {
  width: 210px;
  margin-inline: auto;
  margin-bottom: 2rem;
}
[data-tab-content] {
  display: none;
}
[data-tab-content].active {
  display: block;
}

@media (min-width: 600px) {
  .process-web__wrapper {
    gap: 4rem;
  }
  .solutions__btns-wrapper {
    width: max-content;
  }
  .solutions__webdesign-img-wrapper {
    height: 440px;
  }
  .third-solutions__inner-wrapper {
    gap: 9rem;
  }
}
