.hero__cta {
  border-radius: 150px;
  border: 1px solid var(--white);
  background-color: var(--blue);
  box-shadow: 0px 0px 20px 0px var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0.8rem 1.5rem;
  width: max-content;
  transition: 0.3s;
  font-weight: 300;
  opacity: 0;
  animation: hero-cta 3s forwards;
}
@keyframes hero-cta {
  from {
    transform: translateX(6rem);
  }
  to {
    transform: translateX(0);

    opacity: 1;
  }
}
.hero__cta:hover {
  border-radius: 150px;
  border: 1px solid var(--white);
  background-color: hsl(216, 100%, 60%);
  box-shadow: 0px 0px 30px 0px var(--white);
  gap: 16px;
}
.solution-btn {
  padding: 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  line-height: 115%;
  color: var(--dark);
  font-family: "Kanit";
  transition: 0.4s;
}
.solution-btn:hover {
  scale: 1.1;
  box-shadow: 0 0 30px var(--yellow);
  border-radius: 100vmax;
}
.active-btn {
  outline: 2px solid var(--black);
  border-radius: 100vmax;
  background-color: var(--yellow);
  z-index: 1;
}
.consult-mail__submit-btn {
  background-color: hsl(120, 43%, 47%);
  padding-block: 0.6rem;
  padding-inline: 1rem;
  margin-left: auto;
  font-family: "Kanit", sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 100vmax;
}
.consult-mail__submit-btn:hover {
  background-color: hsl(0, 0%, 33%);
  color: var(--white);
}
.scroll-down-btn {
  position: absolute;
  bottom: 5rem;
  right: 2rem;
  animation: scroll-down 1s alternate infinite ease-in-out;
}
@keyframes scroll-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(1rem);
  }
}
/* scroll to top btn */
.scroll-to-top-btn {
  position: absolute;
  background-color: var(--dark);
  aspect-ratio: 1;
  width: 50px;
  border-radius: 100vmax;
  display: grid;
  place-items: center;
  cursor: pointer;
  transform: rotate(-45deg);
}
.scroll-to-top-btn:hover {
  background-color: var(--black);
}
/* loader */
.spin-loader {
  position: fixed;
  display: grid;
  place-items: center;
  bottom: 3rem;
  right: 3rem;
  aspect-ratio: 1;
  width: 60px;
  border-radius: 50%;
  z-index: 3;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
}
.spin-loader img {
  transform: rotate(45deg);
}
.spin-loader.active {
  opacity: 1;
  pointer-events: visible;
}
.portfolio-btn {
  transition: 0.3s;
  cursor: pointer;
}
.portfolio__btns {
  position: absolute;
  width: min(91%, 70rem);
  display: flex;
  justify-content: space-between;
  transform: translate(-50%, -50%);
  top: 27%;
  left: 50%;
  z-index: 150;
}
.portfolio-btn:hover {
  scale: 1.2;
}
.portfolio-btn img {
  pointer-events: none;
}
@media (min-width: 1024px) {
  .scroll-down-btn {
    position: absolute;
    bottom: 4rem;
    transform: translateX(-50%);
    left: 50%;
    right: 2rem;
    animation: scroll-down 1s alternate infinite ease-in-out;
  }
}
.web-solution-btn {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  width: max(100%, 15rem);
  max-width: 30rem;
  background-color: hsl(0, 0%, 93%);
  height: max-content;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.web-solution-btn:hover {
  background-color: hsl(0, 0%, 95%);
  outline: 1px solid hsl(0, 0%, 90%);
}
.web-solution-inside-btn-img {
  width: 170px;
}
.back-btn {
  position: absolute;
  cursor: pointer;
  top: 7rem;
  display: flex;
}
.back-btn > img:nth-child(2) {
  object-fit: contain;
  aspect-ratio: 1;
  width: 24px;
}
.back-btn::after {
  content: "";
  position: absolute;
  width: 130px;
  transition: 0.3s;
  height: 50px;
  top: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  left: -1rem;
  background-color: rgba(240, 248, 255, 0.2);
}
.back-btn:hover::after {
  outline: 1px solid grey;
}
@media (min-width: 1067px) {
  .back-btn::after {
    border-radius: 100vmax;
  }
}
.layout-btn {
  transition: 0.3s;
  aspect-ratio: 1;
  margin: auto;
  background-color: var(--black);
  border-radius: 13px;
  outline: 1px solid rgb(51, 51, 249);
  box-shadow: 0 0 0 5px rgb(0, 0, 0);
  cursor: pointer;
  display: none;
}
.layout-btn:hover {
  background-color: rgb(31, 31, 31);
  scale: 1.05;
}
.layout-btn.active {
  display: block;
}
.layout-btn > img {
  object-fit: contain;
  aspect-ratio: 1;
  width: 45px;
  margin-right: 5px;
  pointer-events: none;
}
