@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  line-height: 1.4;
  font-size: 100%;
  font-family: "Kanit", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
p {
  color: var(--white);
}
p {
  line-height: 150%;
}
strong {
  color: var(--black);
}
span {
  color: var(--white);
}
.h2--heading {
  position: relative;
  font-size: 2.5rem;
  font-weight: 500;
}
.h2--heading::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--white);
  width: 4rem;
  display: block;
  left: 0;
}
.paragraph-dark {
  color: var(--paragraph-clr);
}
.hero__headline {
  font-size: clamp(46px, 10vw, 72px);
  font-weight: 600;
  line-height: 110%;
  margin-bottom: 1rem;
}
.hero__subheadline {
  margin-bottom: 1.5rem;
  font-weight: 300;
  animation: hero-subheadline 2s forwards;
}
@keyframes hero-subheadline {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.offer-card__heading {
  font-size: 1.375rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.offer-card__text {
  font-weight: 200;
}
.yellow-text {
  color: var(--yellow);
  transition: 0.3s;
  font-weight: 300;
}
.offer-card:hover .yellow-text,
.o-nama:hover .yellow-text {
  color: hsl(60, 100%, 50%);
  text-shadow: 0 0 16px hsl(60, 100%, 50%);
}
.dark-text {
  color: var(--dark);
  text-align: right;
}
.dark-text::after {
  background-color: var(--dark);
  bottom: -1rem;
  left: unset;
  right: 0;
}
.solutions__webdesign-article {
  display: flex;
  align-items: start;
  gap: 1rem;
}
.solutions__webdesign-article img {
  object-fit: contain;
}
.process-web__heading {
  font-size: 2.5rem;
  color: var(--dark);
  font-family: serif;
  font-weight: 500;
  line-height: 115%;
  text-align: center;
}
.project-name,
.project-type,
.project-desc {
  font-weight: 300;
}
.project-name {
  font-size: 2rem;
}
.project-type {
  font-size: 1.5rem;
}
.project-tech {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 4px;
}
.project-label {
  border: 1px solid var(--blue);
  text-transform: uppercase;
  border-radius: 100vmax;
  color: var(--white);
  font-weight: 300;
  padding: 5px 10px;
  font-size: 0.8rem;
  margin-bottom: 0.6rem;
  letter-spacing: 2px;
}
.portfolio__heading {
  font-weight: 400;
}
.techs__heading {
  margin-inline: 1rem;
}
.faq__heading {
  text-align: start;
}
.faq__heading::after {
  left: 0;
}
.consult__heading {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.23);
  border-radius: 3px;
  margin-bottom: 2rem;
  text-align: center;
}
.o-nama__paragraph {
  font-weight: 300;
  line-height: 180%;
}

@media (min-width: 768px) {
  .solutions__heading {
    margin-bottom: 4rem !important;
    text-wrap: balance;
  }
}
.solution--webdesign-paragraph {
  font-weight: 300;
  order: 1;
}
